.DS_Store
Package\ Control.cache
Package\ Control.last-run
Package\ Control.merged-ca-bundle
Package\ Control.user-ca-bundle
Package\ Control.system-ca-bundle

# Created by https://www.gitignore.io/api/sublimetext

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json
